Package: com.nickilass.tumbi
Name: Tumbi
Version: 1.0.1
Architecture: iphoneos-arm
Description: A sleek, minimal, and fun theme for iOS 12.X
Maintainer: Nickilass
Author: Nickilass
Section: Themes (SpringBoard)
